<footer>
  <br>
  <p class="text-center">Designed & Built by <a href='https://twitter.com/corbin_page' target="_blank">Corbin Page</a></p>
  <p class="text-center">More Information is available on <a href='https://github.com/corbinpage/money-badger' target="_blank">Github</a>.</p>
  <br>
</footer>