<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron main-jumbotron">
  <div class="container">
    <h2>Does somebody owe you money?</h2>
    <p>Debt Badger helps you reclaim your lost money by pestering the debtor into paying up. Just enter the offender's phone number below and we'll send them a daily reminder to pay their bill!</p>
    <p><a href="#info-jumbotron" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="jumbotron" id="info-jumbotron">
  <div class="container">
    <div class="row">
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
    </div>
  </div>
</div>
<div class="jumbotron" id="input-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">                

          <form role="form">
            <h2>Only One Form!</h2>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label>Amount Owed</label>
                  <input type="float" name="amount" placeholder="Amount" class="form-control">
                </div>
              </div>
              <br>
              <label>Debtor's Info</label>
              <input type="text" placeholder="Debtor's Name" class="form-control">
              <input type="text" placeholder="Phone Number" class="form-control">
              <br>
              <label>Your Info</label>
              <input type="text" placeholder="Your Name" class="form-control">
              <input type="text" placeholder="Phone Number" class="form-control">
              <br>
              <label>Message</label>
              <textarea class="form-control counted" name="message" placeholder="Type in your message here" rows="5" style="margin-bottom:10px;"></textarea>
              <h6 class="pull-right" id="counter">160 characters remaining</h6>
              <button class="btn btn-info" type="submit">Done!</button>
            </div>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" id="footer-jumbotron">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>