<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron main-jumbotron">
  <div class="container">
    <h2>Does somebody owe you money?</h2>
    <p>Debt Badger helps you reclaim your lost money by pestering the debtor into paying up. Just enter the offender's phone number below and we'll send them a daily reminder to pay their bill!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="jumbotron info-jumbotron">
  <div class="container">
    <div class="row">
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
    </div>
  </div>
</div>
<div class="jumbotron input-jumbotron">
  <div class="container">
    <div class="col-sm-offset-3 col-sm-6 form-wrapper">

      <h2>One form Sign-Up!</h2>
      <form role="form">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-5">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="col-xs-offset-2 col-xs-5">
              <input type="text" class="form-control" placeholder="Your Phone Number">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <input type="text" class="form-control" placeholder="Debtor's Name">
            </div>
            <div class="col-xs-offset-2 col-xs-5">
              <input type="text" class="form-control" placeholder="Debtor's  Phone Number">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <input type="float" class="form-control text-center" placeholder="Amount Owed">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
              <input type="textarea" class="form-control text-center" placeholder="What would you like to say?">
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>


    </div>
  </div>
</div>