/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

.logo_icon {
  height: 40px;
  width: 40px;
}

.navbar-default
.navbar-brand {
  color: #393A3A;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-default
.navbar-brand:hover {
  color: #428bca;
}

.navbar-default .navbar-nav > li > a {
color: #393A3A;
}

.navbar-default .navbar-nav > li > a:hover {
color: #428bca;
}

.main-jumbotron {
  background: url(/assets/jumbotron.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-bottom: 0px;
}

.db-button {
  background-color: #0091be
}

.db-button:hover{
  background-color: #4CD3FC
}

a {
  color: #0091BE
}

.main-jumbotron h2 {
  color: #fff;
}

.main-jumbotron p {
  color: #fff;
}

#info-jumbotron {
  margin-bottom: 0px;
}

#input-jumbotron {
  background: url(/assets/input.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 900px;
  margin-bottom: 0px;
}

.form-wrapper {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#footer-jumbotron {
  margin-bottom: 0px;
}


/* Show Debts ---------------------------------------------------- */

.alert-container {
  margin-top: 51px;
}

#success-jumbotron {
  background-color: #3FB4FC;
  margin-bottom: 0px;
  padding-top: 0px;
}

.smilie-wrapper h1 {
  font-size: 100px;
}

.smilie-text {
  color: #FFF;
  position: relative;
  bottom: 10px;
}

.congrats-text {
  font-size: 40px;
}

/* Show Debts ---------------------------------------------------- */

.support-jumbotron {
  background: url(/assets/support.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-bottom: 0px;
}